name: ci build - mvn package

run-name: "ci build - mvn package [${{ github.ref_name }}]"

on:
  workflow_dispatch:
  push:
    branches: [ "develop", "feature/*", "release/*" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file pom.xml
